.body {
    background-color: white;

}.card-header {
    font-family: cursive;
}
.nav-link {
    color: white !important;
}
.bg-blue-dark {
    color: #021526;
}
.border-electro {
    border: 1px solid #960196; /* Warna ungu */
  }
