* {
    font-family: "Montserrat";
}
h1 {
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}
a {
    text-decoration: none;
}

.artikel{
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-size: 14px;
    font-weight: 100px;
}
.Devon {
    color: blue;
}